# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# Environment
.env

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Temporary files
*.log
*.tmp

# Uploaded Data
data/uploads/*
data/processed/*
data/reports/*

# Credentials
credentials/
*.json

# OS
.DS_Store
Thumbs.db